.personImg:hover {
    cursor: pointer;
}

.roleText {
	font-weight: bold;
}


.picturesH:hover {
	cursor: pointer;
}

.eventRow {
	border-bottom: 1px solid; 
}
.imageContainer {
	position: relative;
    margin-left: 20%;

    
}
.dateImg {
	position: absolute;
}
.dateText {
	position: absolute;
    color: whitesmoke;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
    margin-left: 20px;
    margin-top: 15px;
    
    
    
}

.landingText {
	margin-top: 5%;
    margin-bottom: 5%;
}
#lvlNum {
	font-size: 15px;
}

#myBar{
    overflow: hidden;
}

.footer {
    
    left: 0;
    margin-top: 50px;
    bottom: 0;
    width: 100%;
    height: 80px;
    line-height: 80px;
    background-color: darkgreen;
    display: block;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    color: whitesmoke;
}

.userPicture {

    -webkit-animation-delay: 2s;
    -webkit-animation-iteration-count: infinite;
        
}
.btnStyle {
	background-color:  rgba(0, 0, 0, 0)!important;
    color: white;
    
}

#box {
    width: 10em;
    height: 100em;
    background-color: black;
    color: white;
}

.sideStyle {
	text-align: center;
}

.pageStyle {
    padding-top: 150px;
}
.navStyle {
	background-color: black;
    z-index:1;

    text-align: left;
}
.nav-pills > li > a.active {
  background-color: lawngreen!important;
    color: black!important;
    height: 4em;
  
}

.nav-pills > li > a:hover {
  color: lawngreen;
}

.nav-link-color {
  color: white;
}

#body {
	background-color: whitesmoke;
}
body {
  overflow-x: hidden;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 400px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 400px;
  width: 0;
  height: 100%;
  margin-left: -400px;
  overflow-y: auto;
  background: #000;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 400px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -400px;
}


/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 400px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
}

.sidebar-nav li a:active, .sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav>.sidebar-brand {
  height: 65px;
  font-size: 20px;
  line-height: 60px;
   text-align: center;

}

.sidebar-nav>.sidebar-brand a {
  color: #999999;
}

.sidebar-nav>.sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 0;
  }
  #wrapper.toggled {
    padding-left: 400px;
  }
  #sidebar-wrapper {
    width: 0;
  }
  #wrapper.toggled #sidebar-wrapper {
    width: 400px;
  }
  #page-content-wrapper {
    padding: 20px;
    position: relative;
  }
  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

#myProgress {
  width: 100%;
  background-color: #ddd;
}

#myBar {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
    text-align: center; /* To center it horizontally (if you want) */
    line-height: 30px; /* To center it vertically */
    color: white; 
}

